body {
  background-color: #DEEDF0
}

hr {
  background-color: #DEEDF0;
  border-style: dotted none none;

border-color: grey;
border-width: 5px;
  height: 0;
  width: 4%;

}
h1 { color: #0A81AB;
}
h3 { color: #0A81AB;
  text-decoration: underline;
}
